@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@300&display=swap');

* {
    box-sizing: border-box;
  }
  
body {
    background: #f6f6f6;
    color: #0f141e;
    font-size: 16px;
    font-weight: 50;
    font-family: 'Yaldevi', sans-serif;
    margin: 0;
}

.header {
    position: relative;
    height: 400px;
}

.avatar {
    position: absolute;
    left: 75px;
    top: 50px;
    width: 300px;
    border-radius: 25% 10%;
    box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.25);
}

.line {
    height: 65px;
    background: #ffdd2d;
    border-top: 1px solid #ffdd2d;
    border-radius: 10%;
}

.header p {
    position: absolute;
    font-style: italic;
    font-size: 46px;
    left: 500px;
    top: 90px;
}

.text {
    margin: 11px 0px 0px 75px;
    font-size: 2em;
}

.list {
    list-style-type: disc;
    font-size: 24px;
    margin: 20px 0 20px 75px;
}

.window {
    position: relative;
    height: 600px;
    width: 900px;
    margin: 50px auto 50px auto;
    border: 1px solid black;
}



.box {
    position: fixed;
    bottom: 40px;
    right: 50px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.25);
    background-color: white;
}

.mail {
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 52px;
    right: 62px;
    cursor: pointer;
}

/* Форма*/

#form {
    display: none;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
  }
  
  #form.open {
    display: block;
  }

  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(17, 17, 17, 0.5);
    transition: all 0.5s ease;
    display: none;
  }
  
  .popup_open {
    display: block;
  }
  
  .popup__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    max-width: 588px;
    width: 100%;
    max-height: 420px;
    height: 100%;
  }
  
  .popup__wrapper {
    padding: 20px 40px;
  }
 
  .form-group {
    margin: 10px;
  }
  .form-group label {
    display: block;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px 0 10px;
    outline: none;
    font-family: inherit
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .btn {
    border: none;
    background-color: #ccc;
    color: black;
    margin: 0px 10px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
  }

  .btn:hover {
    opacity: 0.8;
  }


